/api.php
/api.php5
/autoload.php
/cache
/composer-example.json
/composer.json
/COPYING
/core
/CREDITS
/docs
/FAQ
/favicon.gif
/favicon.ico
/favicon.png
/HISTORY
/images
/img_auth.php
/img_auth.php5
/includes
/index.php
/index.php5
/info.php
/INSTALL
/languages
/load.php
/load.php5
/maintenance
/mw-config
/opensearch_desc.php
/opensearch_desc.php5
/profileinfo.php
/profileinfo.php5
/README
/README.mediawiki
/RELEASE-NOTES-1.26
/resources
/serialized
/skins
/spamtable.txt
/StartProfiler.sample
/static
/tests
/thumb_handler.php
/thumb_handler.php5
/thumb.php
/thumb.php5
/tutorial
/UPGRADE
/wiki.phtml
/.git-mediawiki
/.gitmodules
/.gitreview
/.jscsrc
/.jshintignore
/.jshintrc
/.mailmap
/.rubocop.yml
/.travis.yml

/Gemfile
/Gemfile.lock
/Gruntfile.js
/Rakefile
/jsduck.json
/package.json
/phpcs.xml

/extensions/Widgets/compiled_templates/

.htaccess
